<!-- playlist-content area section start -->
  <div class="playlist">
    <div>
      <span>
        <i class="fa fa-music" aria-hidden="true"></i>
        Song name
      </span>
      <p>Album name and band</p>
    </div>
    <button type="button" class="btn-gray btn-square"><i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </div>

  <div class="playlist">
    <div>
      <span>
        <i class="fa fa-music" aria-hidden="true"></i>
        Song name
      </span>
      <p>Album name and band</p>
    </div>
    <button type="button" class="btn-gray btn-square"><i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </div>
<!-- playlist-content area section end -->