<!-- playlist-content area section start -->
<div class="playlist" *ngFor="let playlistDetail of playlistDetails.items">
  <div>
    <span>
      <i class="fa fa-music" aria-hidden="true"></i>
      {{ playlistDetail.track.name }}
    </span>
    <p>{{playlistDetail.track.album.name }} 
       {{playlistDetail.track.album.artists[0].name}}
    </p>
  </div>
  <button type="button" 
          class="btn-gray btn-square">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</div>
<!-- playlist-content area section end -->