@import "./scss/variables";
@import "./scss/global.scss";
@import "./scss/helpers.scss";

/* Footer styles */
footer {
  background-color: #2e2e2e;
  text-align: end;
  padding: 3px 0;

  a {
    margin-right: 1%;
  }

  .fa {
    color: white;
  }
}