/* Global styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 1rem;
}

main {
  display: flex;
  flex: 1;
}