@import "variables";

/* Helpers */
.add-playlist-btn:hover,
.btn-gray:hover {
  transform: scale(1.1);
}

.add-playlist-btn {
  color: white;
  background-color: $primary-color;
  border-radius: 12px;
  padding: 6px 0;
  font-size: 0.8rem;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  outline: none;
  margin-top: 20px;
}

.btn-gray {
  color: $red;
  background-color: $gray;
  outline: none;
  transition: transform 0.2s ease-in-out;
  border-radius: 16px;
  height: 30px;
  padding: 0 10px;
  font-size: .7rem;
  margin: 10px 0;
}

.btn-square {
  width: 30px;
  padding: 0;
}

.fa-music {
  color: $primary-color;
  font-size: .8rem;
}